In [425]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

##### Load the csv files

In [426]:
car_data = pd.read_csv('car data.csv')
cardekho = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')
car_detail = pd.read_csv('Car details v3.csv')

In [427]:
car_data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [428]:
car_data.shape

(301, 9)

In [429]:
cardekho.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [430]:
cardekho.shape

(4340, 8)

In [431]:
car_detail.head(10)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
5,Hyundai Xcent 1.2 VTVT E Plus,2017,440000,45000,Petrol,Individual,Manual,First Owner,20.14 kmpl,1197 CC,81.86 bhp,113.75nm@ 4000rpm,5.0
6,Maruti Wagon R LXI DUO BSIII,2007,96000,175000,LPG,Individual,Manual,First Owner,17.3 km/kg,1061 CC,57.5 bhp,"7.8@ 4,500(kgm@ rpm)",5.0
7,Maruti 800 DX BSII,2001,45000,5000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8,Toyota Etios VXD,2011,350000,90000,Diesel,Individual,Manual,First Owner,23.59 kmpl,1364 CC,67.1 bhp,170Nm@ 1800-2400rpm,5.0
9,Ford Figo Diesel Celebration Edition,2013,200000,169000,Diesel,Individual,Manual,First Owner,20.0 kmpl,1399 CC,68.1 bhp,160Nm@ 2000rpm,5.0

In [432]:
car_detail.shape

(8128, 13)

All the files can be used for Rregression but as the last CSV has highest number of Datapoints I will be using that to train my model

##### EDA

In [433]:
car_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

So there are null values present, these I will handle in Feature engineering step

In [434]:
car_detail.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [435]:
#let's check the model of the cars
print(car_detail['name'].unique()[1:100])
print(len(car_detail['name'].unique()))
#(Word of caution) using OHE will create aditional 2058 columns

['Skoda Rapid 1.5 TDI Ambition' 'Honda City 2017-2020 EXi'
 'Hyundai i20 Sportz Diesel' 'Maruti Swift VXI BSIII'
 'Hyundai Xcent 1.2 VTVT E Plus' 'Maruti Wagon R LXI DUO BSIII'
 'Maruti 800 DX BSII' 'Toyota Etios VXD'
 'Ford Figo Diesel Celebration Edition' 'Renault Duster 110PS Diesel RxL'
 'Maruti Zen LX' 'Maruti Swift Dzire VDi' 'Maruti Swift 1.3 VXi'
 'Maruti Wagon R LXI Minor' 'Mahindra KUV 100 mFALCON G80 K8 5str'
 'Maruti Ertiga SHVS VDI' 'Hyundai i20 1.4 CRDi Asta' 'Maruti Alto LX'
 'Hyundai i20 2015-2017 Asta 1.4 CRDi' 'Mahindra Verito 1.5 D4 BSIII'
 'Honda WR-V i-DTEC VX' 'Maruti Swift Dzire ZDI' 'Maruti SX4 ZDI'
 'Tata Tigor 2017-2020 XZ' 'Maruti Baleno Delta 1.2' 'Maruti Alto 800 LXI'
 'Chevrolet Enjoy TCDi LTZ 7 Seater' 'Maruti Omni E MPI STD BS IV'
 'Maruti Vitara Brezza LDi Option' 'Fiat Palio 1.2 ELX'
 'Maruti Omni 8 Seater BSIV' 'Hyundai i20 1.2 Asta Dual Tone'
 'Maruti Vitara Brezza LDi' 'Maruti Alto 800 CNG LXI Optional'
 'Maruti Alto K10 VXI Airbag' 'Hyundai Verna VTVT 1.6 SX Option'
 'Datsun GO D' 'Tata Safari DICOR 2.2 LX 4x2' 'Maruti 800 Std'
 'Jeep Compass 1.4 Limited Plus BSIV' 'Honda City i VTEC VX'
 'Honda City V MT' 'Maruti Swift Dzire VXi AT' 'Maruti Vitara Brezza VDi'
 'Maruti Alto K10 VXI' 'Toyota Fortuner 4x4 MT'
 'Toyota Innova 2.5 G (Diesel) 7 Seater BS IV'
 'Mercedes-Benz B Class B180' 'Honda Amaze S Diesel'
 'Mitsubishi Pajero Sport 4X4' 'Honda City i DTEC S' 'Maruti Ciaz Zeta'
 'Honda Jazz VX Diesel' 'Toyota Innova Crysta 2.8 ZX AT BSIV'
 'Toyota Innova 2.5 G (Diesel) 7 Seater' 'Audi A6 2.0 TDI Technology'
 'Toyota Corolla Altis 1.8 VL CVT' 'Audi A6 2.0 TDI  Design Edition'
 'Mercedes-Benz New C-Class 220 CDI AT' 'Tata Manza ELAN Quadrajet BS IV'
 'Hyundai i10 Magna' 'Hyundai i20 Asta 1.4 CRDi'
 'Ford Figo 1.2P Titanium MT' 'Volkswagen Ameo 1.5 TDI Highline 16 Alloy'
 'Honda City i DTEC VX' 'Maruti Wagon R AMT VXI'
 'Volkswagen Ameo 1.5 TDI Comfortline' 'Maruti Vitara Brezza ZDi Plus AMT'
 'Maruti Swift VDI Deca' 'Maruti Swift Star VDI' 'Maruti Ertiga ZXI'
 'Tata Indica DLS' 'Volkswagen Vento Diesel Highline'
 'Toyota Innova 2.5 VX (Diesel) 8 Seater'
 'Ford EcoSport 1.5 TDCi Titanium Plus BSIV' 'BMW X1 sDrive20i xLine'
 'Maruti Celerio ZXI MT BSIV' 'Datsun GO A Petrol'
 'Maruti Alto 800 VXI BSIV' 'Maruti Alto 800 LXI BSIV'
 'Maruti Swift VDI BSIV W ABS' 'Hyundai i10 Era 1.1'
 'Maruti Wagon R LXI LPG BSIV' 'Volkswagen Polo 1.2 MPI Comfortline'
 'Hyundai i10 Magna 1.1L' 'Volkswagen Vento Petrol Highline'
 'Maruti Zen Estilo LXI BSIII'
 'Hyundai i20 Asta Optional with Sunroof 1.2' 'Maruti Swift Dzire LDI'
 'Hyundai Xcent 1.2 Kappa SX Option AT' 'Maruti Alto LX BSIII'
 'Hyundai i20 1.4 Asta Option' 'Maruti Wagon R VXI'
 'Tata Manza Aura (ABS) Quadrajet' 'Maruti Swift VXI'
 'Maruti Eeco 7 Seater Standard BSIV' 'Maruti Baleno Zeta 1.2'
 'Mahindra Scorpio VLX AT AIRBAG BSIV'
 'Ford Freestyle Titanium Petrol BSIV']
2058

In [436]:
print(car_detail['year'].unique())
print(len(car_detail['year'].unique()))
#does not need any encoding

[2014 2006 2010 2007 2017 2001 2011 2013 2005 2009 2016 2012 2002 2015
 2018 2003 2019 2008 2020 1999 2000 1983 2004 1996 1994 1995 1998 1997
 1991]
29

In [437]:
print(car_detail['torque'].unique())
print(len(car_detail['torque'].unique()))

['190Nm@ 2000rpm' '250Nm@ 1500-2500rpm' '12.7@ 2,700(kgm@ rpm)'
 '22.4 kgm at 1750-2750rpm' '11.5@ 4,500(kgm@ rpm)' '113.75nm@ 4000rpm'
 '7.8@ 4,500(kgm@ rpm)' '59Nm@ 2500rpm' '170Nm@ 1800-2400rpm'
 '160Nm@ 2000rpm' '248Nm@ 2250rpm' '78Nm@ 4500rpm' nan '84Nm@ 3500rpm'
 '115Nm@ 3500-3600rpm' '200Nm@ 1750rpm' '62Nm@ 3000rpm'
 '219.7Nm@ 1500-2750rpm' '114Nm@ 3500rpm' '115Nm@ 4000rpm' '69Nm@ 3500rpm'
 '172.5Nm@ 1750rpm' '6.1kgm@ 3000rpm' '114.7Nm@ 4000rpm' '60Nm@ 3500rpm'
 '90Nm@ 3500rpm' '151Nm@ 4850rpm' '104Nm@ 4000rpm' '320Nm@ 1700-2700rpm'
 '250Nm@ 1750-2500rpm' '145Nm@ 4600rpm' '146Nm@ 4800rpm'
 '343Nm@ 1400-3400rpm' '200Nm@ 1400-3400rpm' '200Nm@ 1250-4000rpm'
 '400Nm@ 2000-2500rpm' '138Nm@ 4400rpm' '360Nm@ 1200-3400rpm'
 '200Nm@ 1200-3600rpm' '380Nm@ 1750-2500rpm' '173Nm@ 4000rpm'
 '400Nm@ 1750-3000rpm' '400Nm@ 1400-2800rpm' '200Nm@ 1750-3000rpm'
 '111.7Nm@ 4000rpm' '219.6Nm@ 1500-2750rpm' '112Nm@ 4000rpm'
 '250Nm@ 1500-3000rpm' '130Nm@ 4000rpm' '205Nm@ 1750-3250rpm'
 '280Nm@ 1350-4600rpm' '99.04Nm@ 4500rpm' '77Nm@ 3500rpm' '110Nm@ 3750rpm'
 '153Nm@ 3800rpm' '113.7Nm@ 4000rpm' '114Nm@ 4000rpm' '113Nm@ 4200rpm'
 '101Nm@ 3000rpm' '290Nm@ 1800-2800rpm' '120Nm@ 4250rpm'
 '250Nm@ 1500~4500rpm' '96 Nm at 3000 rpm' '360Nm@ 1750-2800rpm'
 '135Nm@ 2500rpm' '259.8Nm@ 1900-2750rpm' '200Nm@ 1900rpm'
 '259.9Nm@ 1900-2750rpm' '91Nm@ 4250rpm' '96.1Nm@ 3000rpm'
 '109Nm@ 4500rpm' '400nm@ 1750-3000rpm' '202Nm@ 3600-5200rpm'
 '430Nm@ 1750-2500rpm' '347Nm@ 4300rpm' '382nm@ 1750-2250rpm'
 '620Nm@ 1600-2400rpm' '400Nm@ 1750-2500rpm' '250@ 1250-5000rpm'
 '500Nm@ 1600-1800rpm' '250Nm@ 1600-3600rpm' '400Nm' '550Nm@ 1750-2750rpm'
 '490Nm@ 1600rpm' '250 Nm at 2750 rpm' '177.5Nm@ 4700rpm'
 '170Nm@ 1750-4000rpm' '300Nm@ 1200-4000rpm' '300Nm@ 1200-1400rpm'
 '260Nm@ 1500-2750rpm' '213Nm@ 4500rpm' '224Nm@ 4000rpm' '640Nm@ 1740rpm'
 '113Nm@ 4500rpm' '95Nm@ 3000-4300rpm' '13.1kgm@ 4600rpm'
 '205Nm@ 1800-2800rpm' '71Nm@ 3500rpm' '190Nm@ 1750-3000rpm'
 '146Nm at 4800 rpm' '14.9 KGM at 3000 RPM' '115Nm@ 3200rpm'
 '117nm@ 4000rpm' '320Nm@ 1500-3000rpm' '72Nm@ 4386rpm'
 '11.4 kgm at 4,000 rpm' '140Nm@ 1500-4000rpm' '134Nm@ 4000rpm'
 '150Nm@ 4500rpm' '340Nm@ 1800-3250rpm' '240Nm@ 1600-2800rpm'
 '330Nm@ 1600-2800rpm' '12.5@ 3,500(kgm@ rpm)' '110Nm@ 4800rpm'
 '111.8Nm@ 4000rpm' '11.8@ 3,200(kgm@ rpm)' '135.4Nm@ 2500rpm'
 '300Nm@ 1750-2500rpm' '190.25nm@ 1750-2250rpm' '140Nm@ 1800-3000rpm'
 '20.4@ 1400-3400(kgm@ rpm)' '247Nm@ 1800-2000rpm' '223Nm@ 1600-2200rpm'
 '180 Nm at 1440-1500rpm' '195Nm@ 1400-2200rpm' '154.9Nm@ 4200rpm'
 '114.73Nm@ 4000rpm' '160Nm@ 1500-2750rpm' '108Nm@ 4400rpm'
 '190.24nm@ 1750-2250rpm' '200Nm@ 2000-3500rpm' '420Nm@ 1400-2600rpm'
 '100Nm@ 2700rpm' '51Nm@ 4000rpm' '250Nm@ 1250-5300rpm' '132Nm@ 3000rpm'
 '350Nm@ 1500-2750rpm' '218Nm@ 4200rpm' '14.9@ 3,000(kgm@ rpm)'
 '24@ 1,900-2,750(kgm@ rpm)' '13.5@ 2,500(kgm@ rpm)' '85Nm@ 3000rpm'
 '74.5Nm@ 4000rpm' '160Nm@ 1750rpm' '180.4Nm@ 1750-2500rpm'
 '230Nm@ 1500-2500rpm' '113.75Nm@ 4000rpm' '219.66nm@ 1500-2750rpm'
 '245Nm@ 1750rpm' '360Nm@ 1400-3200rpm' '320Nm@ 2000rpm'
 '135 Nm at 2500  rpm ' '24 KGM at 1900-2750 RPM' '190Nm@ 1750-2250rpm'
 '204Nm@ 2000-2750rpm' '14.3@ 1,800-3,000(kgm@ rpm)' '250nm@ 1500-2750rpm'
 '125Nm@ 2000rpm' '172Nm@ 4300rpm' '150Nm@ 1750rpm' '102Nm@ 4000rpm'
 '85Nm@ 2500rpm' '8.5@ 2,500(kgm@ rpm)' '180Nm@ 1440-1500rpm'
 '106.5Nm@ 4400rpm' '108.5Nm@ 5000rpm' '350Nm@ 1750-2500rpm'
 '144.15nm@ 4500rpm' '104Nm@ 4400rpm' '99Nm@ 4500rpm' '200Nm@ 2000rpm'
 '280Nm@ 1800-2800rpm' '142.5Nm@ 1750rpm' '140Nm@ 4400rpm'
 '115@ 2,500(kgm@ rpm)' '196Nm@ 5000rpm' '260 Nm at 1800-2200 rpm'
 '9.8@ 3,000(kgm@ rpm)' '209Nm@ 2000rpm' '135 Nm at 2500 rpm'
 '140Nm@ 4200rpm' '220Nm at 1400-2600 rpm' '48Nm@ 3000rpm'
 '171Nm@ 1800rpm' '277.5Nm@ 1700-2200rpm' '215Nm@ 3600rpm'
 '219.6Nm@ 1750-2750rpm' '195Nm@ 1440-2200rpm' '13@ 2,500(kgm@ rpm)'
 '180Nm@ 2000rpm' '200Nm@ 1400-2200rpm' '380Nm(38.7kgm)@ 2500rpm'
 '110Nm@ 4400rpm' '72Nm@ 4388rpm' '263.7Nm@ 2500rpm' '320Nm@ 1600-2800rpm'
 '25.5@ 1,500-3,000(kgm@ rpm)' '16.3@ 2,000(kgm@ rpm)'
 '190 Nm at 1750 rpm ' '94.14Nm@ 3500rpm' '12@ 3,500(kgm@ rpm)'
 '113Nm@ 5000rpm' '280Nm@ 2400-2800rpm' '96Nm@ 3500rpm'
 '16@ 2,000(kgm@ rpm)' '320Nm@ 1750-3000rpm' '114.73nm@ 4000rpm'
 '320Nm@ 1750-2500rpm' '138nm@ 4400rpm' '190Nm@ 1750rpm' '789Nm@ 2250rpm'
 '259.87Nm@ 1900-2750rpm' '205Nm@ 1750rpm' '436.39Nm@ 1800-2500rpm'
 '182.5Nm@ 1500-1800rpm' '90.3Nm@ 4200rpm' '12.5@ 2,500(kgm@ rpm)'
 '215Nm@ 1750-3000rpm' '215Nm@ 1750-3000' '305Nm@ 2000rpm'
 '540Nm@ 2000rpm' '327Nm@ 2600rpm' '300Nm@ 1600-3000rpm'
 '620Nm@ 2000-2500rpm' '450Nm@ 1600-2400rpm' '19@ 1,800(kgm@ rpm)'
 '9.2@ 4,200(kgm@ rpm)' '145@ 4,100(kgm@ rpm)' '51Nm@ 4000+/-500rpm'
 '110Nm@ 3000rpm' '148Nm@ 3500rpm' '116Nm@ 4750rpm'
 '48@ 3,000+/-500(NM@ rpm)' '148Nm@ 4000rpm' '222Nm@ 4300rpm'
 '135.3Nm@ 5000rpm' '98Nm@ 1600-3000rpm' '170Nm@ 1400-4500rpm'
 '343Nm@ 1400-2800rpm' '402Nm@ 1600-3000rpm' '113Nm@ 3300rpm'
 '99.07Nm@ 4500rpm' '210nm@ 1600-2200rpm' '190 Nm at 1750  rpm '
 '32.1kgm@ 2000rpm' '224nm@ 1500-2750rpm' '400nm@ 1750-2500rpm'
 '215Nm@ 1750-2500rpm' '25@ 1,800-2,800(kgm@ rpm)' '197Nm@ 1750rpm'
 '136.3Nm@ 4200rpm' '470Nm@ 1750-2500rpm' '11@ 3,000(kgm@ rpm)'
 '142Nm@ 4000rpm' '145Nm@ 4100rpm' '320Nm@ 1500-2800rpm'
 '123Nm@ 1000-2500rpm' '218Nm@ 1400-2600rpm' '510@ 1600-2400'
 '220Nm@ 1500-2750rpm' '380Nm@ 2000rpm' '104Nm@ 3100rpm' '292Nm@ 2000rpm'
 '20@ 3,750(kgm@ rpm)' '46.5@ 1,400-2,800(kgm@ rpm)' '380Nm@ 2500rpm'
 '15@ 3,800(kgm@ rpm)' '136Nm@ 4250rpm' '228Nm@ 4400rpm' '149Nm@ 4500rpm'
 '187Nm@ 2500rpm' '146Nm@ 3400rpm' '8.6@ 3,500(kgm@ rpm)'
 '219.7Nm@ 1750-2750rpm' '190Nm@ 2000-3000' '450Nm@ 2000rpm'
 '300Nm@ 2000rpm' '230Nm@ 1800-2000rpm' '42@ 2,000(kgm@ rpm)'
 '110Nm@ 3000-4300rpm' '110(11.2)@ 4800' '330Nm@ 1800rpm'
 '225Nm@ 1500-2500rpm' '380Nm@ 1750-2750rpm' '28.3@ 1,700-2,200(kgm@ rpm)'
 '259.88Nm@ 1900-2750rpm' '580Nm@ 1400-3250rpm' '400 Nm /2000 rpm'
 '127Nm@ 3500rpm' '300Nm@ 1500-2500rpm' '132.3Nm@ 4000rpm'
 '113nm@ 4400rpm' '151NM@ 4850rpm' '153Nm@ 3750-3800rpm'
 '10.7@ 2,500(kgm@ rpm)' '124.6Nm@ 3500rpm' '78Nm@ 3500rpm'
 '219.9Nm@ 1750-2750rpm' '420.7Nm@ 1800-2500rpm' '130Nm@ 3000rpm'
 '424Nm@ 2000rpm' '130@ 2500(kgm@ rpm)' '99.8Nm@ 2700rpm'
 '113Nm@ 4,500rpm' '11.2@ 4,400(kgm@ rpm)' '240Nm@ 1850rpm'
 '16.1@ 4,200(kgm@ rpm)' '320Nm@ 1750-2700rpm' '115Nm@ 4500rpm'
 '245Nm@ 4000rpm' '321Nm@ 1600-2400rpm' '619Nm@ 1600-2400rpm'
 '380Nm@ 1750-3000rpm' '560Nm@ 1500rpm' '230Nm@ 1500-2250rpm'
 '90Nm@ 2650rpm' '260Nm@ 1800-2200rpm' '600Nm@ 2000rpm'
 '259.87nm@ 1500-3000rpm' '16.6@ 4,500(kgm@ rpm)' '219.66NM@ 1500-2750rpm'
 '12.5@ 3,000(kgm@ rpm)' '620Nm@ 1500-2500rpm' '250Nm@ 1500-4500rpm'
 '14.9@ 3,400(kgm@ rpm)' '25.5@ 1,900(kgm@ rpm)' '33.7@ 1,800(kgm@ rpm)'
 '285Nm@ 2400-4000rpm' '10.7@ 2,600(kgm@ rpm)' '250Nm@ 1000-2000rpm'
 '240Nm@ 1750rpm' '226Nm@ 4400rpm' '510Nm@ 1600-2800rpm'
 '259.87NM@ 1500-3000rpm' '155 Nm at 1600-2800 rpm' '240Nm@ 2000rpm'
 '103Nm@ 4500rpm' '13.5@ 4,800(kgm@ rpm)' '400Nm@ 1750-2750rpm'
 '175Nm@ 1500-4100rpm' '72.9Nm@ 2250rpm' '135.4Nm@ 2500' '245Nm@ 5000rpm'
 '57Nm@ 2500rpm' '96Nm@ 2500rpm' '215nm@ 1750-2500rpm'
 '10.4@ 3,200(kgm@ rpm)' '128Nm@ 3100rpm' '102Nm@ 2600rpm'
 '131Nm@ 4400rpm' '11.4@ 4,000(kgm@ rpm)' '250Nm@ 4250rpm'
 '343Nm@ 1600-2800rpm' '185Nm@ 1750-2750rpm' '12@ 2500(kgm@ rpm)'
 '12.4@ 2,600(kgm@ rpm)' '170Nm@ 4200rpm' '176Nm@ 1500rpm'
 '380NM@ 1800-2800rpm' '250Nm@ 1600-2000rpm' '24.5@ 3,500-4,500(kgm@ rpm)'
 '22.9@ 1,950-4,700(kgm@ rpm)' '113Nm@ 4400rpm' '121Nm@ 2800rpm'
 '210 / 1900' '250Nm@ 1250-5000rpm' '400Nm@ 175-2750rpm'
 '350Nm@ 1500-3500rpm' '175nm@ 1750-4000rpm' '115@ 2500(kgm@ rpm)'
 '110Nm@ 4500rpm' '190Nm@ 2000-3000rpm' '106Nm@ 2200rpm'
 '21.4@ 1,750-4,600(kgm@ rpm)' '96Nm@ 3000rpm' '23.6@ 4,250(kgm@ rpm)'
 '11.3kgm@ 4700rpm' '450Nm@ 1750-2500rpm' '35.7@ 1,750-3,000(kgm@ rpm)'
 '6@ 2,500(kgm@ rpm)' '13.9 kgm at 4200 rpm' '320Nm@ 1400-4100rpm'
 '150Nm@ 1700-4500rpm' '113.8Nm@ 4000rpm' '110@ 3,000(kgm@ rpm)'
 '151Nm@ 2400rpm' '62Nm@ 2500rpm' '18@ 1,600-2,200(kgm@ rpm)'
 '83Nm@ 3000rpm' '124.5Nm@ 3500rpm' '20@ 4,700(kgm@ rpm)'
 '300Nm@ 1600-4000rpm' '171.6Nm@ 1500-4000rpm' '21.4@ 1,900(kgm@ rpm)'
 '190@ 21,800(kgm@ rpm)' '5.7@ 2,500(kgm@ rpm)' '88.4Nm@ 4200rpm'
 '250 Nm at 1,500-3,000 rpm' '340nm@ 1750-3000rpm'
 '36.6@ 1,750-2,500(kgm@ rpm)' '12.5kgm@ 3500rpm' '6.1@ 3,000(kgm@ rpm)'
 '110Nm@ 4000rpm' '350nm@ 1800-2600rpm' '175nm@ 1500-4100rpm'
 '4.8kgm@ 3000rpm' '355Nm@ 4500rpm' '51@ 1,750-3,000(kgm@ rpm)'
 '119Nm@ 4250rpm' '410Nm@ 1600-2800rpm' '174Nm@ 4300rpm' '99.1Nm@ 4500rpm'
 '385Nm@ 1600-2500rpm' '180 Nm at 2000rpm' '190 Nm at 1750 rpm'
 '53@ 2,000-2,750(kgm@ rpm)' '360Nm@ 1400-2600rpm' '420Nm@ 2000rpm'
 '124Nm@ 3500rpm' '17.5@ 4,300(kgm@ rpm)' '360Nm@ 2000rpm'
 '145Nm@ 3750rpm' '85Nm@ 3500rpm' '190Nm@ 4200rpm' '190 Nm at 2000rpm'
 '13.5@ 2500(kgm@ rpm)' '250nm@ 1500-3000rpm' '159.8Nm@ 1500-2750rpm'
 '500Nm@ 2000rpm' '333Nm@ 1600-3200rpm' '400nm@ 2800rpm'
 '33@ 2,000-2,680(kgm@ rpm)' '10.2@ 2,600(kgm@ rpm)' '480Nm'
 '190Nm@ 4300rpm' '320Nm@ 1800-2800rpm' '380Nm@ 1750rpm'
 '250.06nm@ 1500-2750rpm' '90nm@ 3500rpm' '190Nm@ 3700rpm'
 '436.4Nm@ 1800-2500rpm' '96  Nm at 3000  rpm ']
442

**This is a problemetic feature , there are different formats and units used, Also the horse power and engine size has some what linear relationship with torque, so it can be dropped**

In [438]:
print(car_detail['seats'].unique())
print(len(car_detail['seats'].unique()))
# missing values are in form of np.nan

[ 5.  4. nan  7.  8.  6.  9. 10. 14.  2.]
10

In [439]:
print(car_detail['owner'].unique())
print(len(car_detail['owner'].unique()))
# missing values are in form of np.nan

['First Owner' 'Second Owner' 'Third Owner' 'Fourth & Above Owner'
 'Test Drive Car']
5

**Results of EDA:**
- Feature_mv__Action
- name              0 : OHE
- year              0 : None
- selling_price     0 : Target
- km_driven         0 : None
- fuel              0 : OHE
- seller_type       0 : OHE
- transmission      0 : OHE
- owner             0 : ORDINAL ENCODING
- mileage          221: Impute
- engine           221: Impute
- max_power        215: Impute
- torque           222: Drop
- seats            221: Impute

##### Feature Engineeering

First I will handle the units associated with columns

In [440]:
car_detail['mileage'] = car_detail['mileage'].str.replace('kmpl','')
car_detail['mileage'] = car_detail['mileage'].str.replace('km/kg','')
car_detail['mileage'] = car_detail['mileage'].astype('float64')

car_detail['engine'] = car_detail['engine'].str.replace('CC','')
car_detail['engine'] = car_detail['engine'].astype('float64')

#car_detail['max_power'] = car_detail['max_power'].str.replace(' bhp','')
#car_detail['max_power'] = car_detail['max_power'].str.replace(' hp','')
#car_detail['max_power'] = car_detail['max_power'].str.replace(' PS','')
#car_detail['max_power'] = car_detail['max_power'].astype('float64')

car_detail['max_power'] = car_detail['max_power'].str.extract(r'(\d+.\d+)').astype('float')
car_detail['max_power'] = car_detail['max_power'].astype('float64')

In [441]:
car_detail.describe()

,year,selling_price,km_driven,mileage,engine,max_power,seats
count,8128.000000,8.128000e+03,8.128000e+03,7907.000000,7907.000000,5994.000000,7907.000000
mean,2013.804011,6.382718e+05,6.981951e+04,19.418783,1458.625016,98.001464,5.416719
std,4.044249,8.062534e+05,5.655055e+04,4.037145,503.916303,38.308191,0.959588
min,1983.000000,2.999900e+04,1.000000e+00,0.000000,624.000000,32.800000,2.000000
25%,2011.000000,2.549990e+05,3.500000e+04,16.780000,1197.000000,73.900000,5.000000
50%,2015.000000,4.500000e+05,6.000000e+04,19.300000,1248.000000,88.700000,5.000000
75%,2017.000000,6.750000e+05,9.800000e+04,22.320000,1582.000000,115.000000,5.000000
max,2020.000000,1.000000e+07,2.360457e+06,42.000000,3604.000000,400.000000,14.000000

In [442]:

X,y = car_detail,car_detail['selling_price']
X.drop(columns=['selling_price','torque'])

,name,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,NaN,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,NaN,5.0
3,Hyundai i20 Sportz Diesel,2010,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,NaN,5.0
4,Maruti Swift VXI BSIII,2007,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.20,5.0
...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,110000,Petrol,Individual,Manual,First Owner,18.50,1197.0,82.85,5.0
8124,Hyundai Verna CRDi SX,2007,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.80,1493.0,110.00,5.0
8125,Maruti Swift Dzire ZDi,2009,120000,Diesel,Individual,Manual,First Owner,19.30,1248.0,73.90,5.0
8126,Tata Indigo CR4,2013,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,NaN,5.0
8127,Tata Indigo CR4,2013,25000,Diesel,Individual,Manual,First Owner,23.57,1396.0,NaN,5.0

In [443]:
y.head()

0    450000
1    370000
2    158000
3    225000
4    130000
Name: selling_price, dtype: int64

In [444]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

Here I will dcreate the Column transformer object to handle the missing and catagorical values

In [445]:
X_train['owner'].unique()

array(['First Owner', 'Second Owner', 'Fourth & Above Owner',
       'Third Owner', 'Test Drive Car'], dtype=object)

In [446]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import KNNImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
ct = ColumnTransformer(transformers= [
('si',KNNImputer(),['mileage','engine','max_power','seats']),
('oe',OrdinalEncoder(categories='auto'),['owner']),
('ohe',OneHotEncoder(sparse=False,drop='first',handle_unknown='ignore'),['name','seller_type','transmission','fuel'])
])

In [447]:
X_letc = ct.fit_transform(X_train)
X_letc.shape

(6502, 1894)

In [448]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
lr = LinearRegression()
pipe = Pipeline([('ct',ct),('scaler',StandardScaler()),('lr',lr)])
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test);

c:\Users\dsudi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:188: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [449]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

-1.3382605319768656e+23
4.4810709696197784e+16

Linear regression gave very bad result,data might not be linearly distributed let's changing it with XGBregressor

In [450]:
from xgboost import XGBRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
xgb = XGBRegressor(booster = 'gblinear',n_estimators = 500)
pipe = Pipeline([('ct',ct),('scaler',StandardScaler()),('xg',xgb)])
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test);

c:\Users\dsudi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:188: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [451]:

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9227028514742395
106231.08913324973

In [452]:
n,p = X_train.shape
def adjr2(actual, predicted, rowcount, featurecount):
    
    return 1-(1-r2_score(actual,predicted))*(rowcount-1)/(rowcount-featurecount)
adjr2(y_test,y_pred,n,p)

0.9225599071403962

Let's see if removing outliers helps

In [453]:
columns = X_train.columns
for c in columns:
    if X_train[c].dtype == 'object':
        continue
    q1 = X_train[c].quantile(0.25)
    q3 = X_train[c].quantile(0.75)
    iqr = q3 - q1
    min = q1 - 1.5 * iqr
    max = q3 + 1.5 * iqr
    X_train.loc[X_train[c] < min, c] = min
    X_train.loc[X_train[c] > max, c] = max

In [454]:
from xgboost import XGBRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
lr = XGBRegressor(booster = 'gblinear')
pipe = Pipeline([('ct',ct),('scaler',StandardScaler()),('lr',lr)])
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test);

c:\Users\dsudi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:188: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [455]:

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))
print(adjr2(y_test,y_pred,n,p))

0.8936213581177352
128400.76719254497
0.8934246338609025

Did not help, So I will stick with the first model